@font-face {
  font-family: "myfont";
  src: url("./fonts/micross.ttf");
  font-family: "test";
  src: url("./fonts/ms95.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

// * {
//   outline: 1px solid aqua;
// }

$bsc-bckgrnd: hsl(181, 100, 25);
$prm-gray: hsl(166, 5, 66);
$scnd-gray: hsl(205, 4, 33);
$thrd-gray: hsl(0, 0, 76);
$frth-gray: hsl(0, 0, 48);
$tskbar: hsl(242, 100, 24);
$blue-screen: hsl(247, 100, 48);

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: $bsc-bckgrnd;
  height: 100vh;
  width: 100vw;
  outline: 1px solid red;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 4vh;
  background-color: $prm-gray;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .start-btn {
    height: 90%;
    width: 8vw;
    background-color: $prm-gray;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    margin-left: 0.1vw;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .faHome {
      margin: 0;
      padding: 0;
      pointer-events: none;
    }

    .start-txt {
      margin: 0;
      padding: 0;
      pointer-events: none;
    }
  }

  .clock {
    height: 90%;
    border: 0.5px solid gray;
    margin-right: 0.1vw;
    padding-right: 0.2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .sound-icon {
      height: 2.5vh;
      padding-left: 0.5vw;
      z-index: 5;
    }

    .internet-icon {
      height: 2.5vh;
      padding-left: 0.5vw;
      z-index: 5;
    }

    .clock-icon {
      padding: 0 0.5vw;
      z-index: 5;
    }
  }
}

.start-menu {
  height: 30vh;
  width: 18vw;
  border: 1px solid black;
  background-color: $prm-gray;
  position: fixed;
  bottom: 4vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;

  .side-filler {
    height: 100%;
    width: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $frth-gray;

    .start-text {
      transform: rotate(-90deg);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 13vh;

      p {
        margin: 0;
        padding: 0;
        font-size: 1.4em;
        font-weight: 900;
        word-wrap: none;
        color: $thrd-gray;

        &::first-letter {
          color: white;
        }

        @media (max-width: 820px) {
          font-size: 0.85em;
        }
      }
    }
  }

  .menu-column {
    height: 30vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $thrd-gray;

    .start-btn {
      width: 100%;
      height: 25%;
      text-align: left;
      font-size: 1.2em;
      background-color: $thrd-gray;

      &:first-letter {
        text-decoration: underline;
      }

      &:hover {
        color: white;
        background-color: blue;
      }
    }

    .projects {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;

      span {
        padding-left: 8px;

        &:first-letter {
          text-decoration: underline;
        }
      }

      .menu-arrow {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 2%;
        top: 45%;
        transform: translateX(-50%);
        height: 1vh;
      }

      .project-menu {
        position: absolute;
        margin: 0;
        padding: 0;
        right: -15.2vw;
        bottom: 0;
        height: 20vh;
        width: 15vw;
        border: 1px solid black;
        background-color: $thrd-gray;

        .project-btn {
          width: 100%;
          height: 20%;
          text-align: left;
          font-size: 1em;
          background-color: $thrd-gray;
          z-index: 5;

          &:first-letter {
            text-decoration: underline;
          }

          &:hover {
            color: white;
            background-color: blue;
          }
        }

        @media (max-width: 820px) {
          height: 25vh;

          .project-btn {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

.main-desktop {
  height: 100vh;
  width: 100vw;
  position: relative;

  .main-internet {
    position: absolute;
    left: 0;
    top: 2vh;
    margin: 1vh;
    height: 10vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0.5vh;
      width: 50%;
      font-size: 0.8em;
      color: white;
    }
  }

  .main-skills {
    position: absolute;
    left: 0;
    top: 15vh;
    margin: 1vh;
    height: 10vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0.5vh;
      width: 50%;
      font-size: 0.8em;
      color: white;
    }
  }

  #watercolor-background {
    position: fixed;
    right: 0;
    top: 70vh;
    transform: translateY(-50%);
    opacity: 0.15;
  }
}

.rnd-window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px black;
  background-color: $thrd-gray;
  overflow: hidden;
  position: relative;
  padding: 0.3vh;

  .maxsize {
    height: 100% !important;
    width: 100% !important;
  }

  .option-bar {
    height: 25px;
    width: 100%;
    background-color: $tskbar;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .option-type {
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
    }

    .option-close {
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $prm-gray;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: click;
      cursor: pointer;
    }

    .option-max {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $prm-gray;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: click;
      cursor: pointer;
    }

    .option-min {
      position: absolute;
      right: 46px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $prm-gray;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: click;
      cursor: pointer;
    }
  }

  .sub-option-bar {
    position: relative;
    height: 20px;
    width: 100%;
    margin-bottom: 5px;

    .resume-download {
      position: absolute;
      left: 2px;
      bottom: 0px;
      height: 2vh;
      padding: 0.2vh;
      text-decoration: none;
      color: black;
      font-size: 0.9em;

      &:hover {
        background-color: $prm-gray;
      }

      &:active {
        left: 2.2px;
        bottom: -0.5px;
      }
    }

    .github-source {
      position: absolute;
      right: 2px;
      bottom: 0px;
      height: 2vh;
      padding: 0.2vh;
      text-decoration: none;
      color: black;
      font-size: 0.9em;

      &:hover {
        background-color: $prm-gray;
      }

      &:active {
        left: 2.2px;
        bottom: -0.5px;
      }
    }
  }

  // .resume-iframe-script {
  //   display: none;
  // }

  .resume-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 89%;

    #github-card {
      height: 100%;
      width: 100%;
      background-color: transparent;
    }

    .githublink {
      height: 50%;
    }
  }

  .aboutme-wrapper {
    background-color: white;
    padding: 1vh 1vw;
    height: 88%;

    .aboutme-title {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2vh;

      .profile-pic {
        height: 40%;
        width: 40%;
        min-height: 20vh;
        min-width: 20vh;
        max-height: 40vh;
        max-width: 40vh;
        border-radius: 5%;
        box-shadow: 1px 1px 5px black;
      }

      .aboutme-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 50%;

        h4 {
          margin: 0;
          padding: 0;
          font-weight: 300;
          display: inline-block;
          font-size: 3vh;

          &::first-letter {
            font-weight: 900;
          }
        }

        .details {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          margin-top: 0.2vh;

          a {
            margin-left: 10%;
          }

          i,
          a {
            display: inline-block;
            font-size: 1.8vh;
          }
        }
      }
    }
  }

  .aboutme-text {
    margin-top: 4vh;
    text-align: left;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: gray;
      left: 0;
      top: -1.5vh;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 99%;

    .form-input {
      width: 99%;
    }

    .form-text {
      width: 99%;
      height: 5vh;
      word-wrap: break-word;
    }

    .form-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 2vh;
      width: 100%;

      .contact-button {
        background-color: $prm-gray;
        color: black;
        border: 0.5px solid black;
        box-shadow: 0.5px 0.5px 1px black;
      }

      .email-message {
        font-size: 0.8em;
      }
    }
  }

  .skill-set {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: white;
    height: 88%;
    width: 100%;

    i {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: $bsc-bckgrnd;

      span {
        margin-top: 1vh;
        font-size: 0.45em;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    @media (max-width: 820px) {
      grid-template-columns: repeat(8, 5vw);
      column-gap: 0.5vw;

      i {
        font-size: 25px;
      }
    }
  }

  .internet-window {
    height: 100%;
    width: 100%;

    .internet-frame {
      height: 100%;
      width: 100%;
      background-color: white;
    }
  }

  .intro-window {
    height: 100%;
    width: 100%;
    background-color: $blue-screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;

    h6 {
      font-size: 2em;
      color: white;
      text-transform: uppercase;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1vh 1vw;
      width: 100%;

      p {
        font-size: 1em;
        color: white;

        span {
          text-decoration: underline;
        }

        a {
          text-decoration: underline;
          color: white;
        }
      }
    }
  }
}

.project-window {
  width: 100%;
  height: 100%;
}
